@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{
    --fonte-titulo:.'pt-serif-regular';
    --fonte-texto:"Roboto";
    ---cor1:#fff;
    ---cor2:#fd0000;
    ---cor3:#000000;
    ---cor4:#acacac;
    ---cor5:#73ff01;
    ---cor6:#ff00c8;
    ---cor7:#8d4949;
}
body{
    font-family: var(--fonte-texto);
    background-color: var(---cor3);
    color: var(---cor1);
    
    
}
h1,h3{
    font-family: var(--fonte-titulo);
}

.card{
    background-color: var(---cor1);
}
.modal-dialog{
    color: #000000;
}
.link{
    text-decoration: nome;
    font-size:1.2em;
    color: #73ff01;


}



